[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true
PIPENV_IGNORE_VIRTUALENVS=1

[dev-packages]

[packages]
fastapi = "*"
docker = "*"
docker-compose = "*"
python-dotenv = "*"
pyjwt = "*"
psycopg2-binary = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
passlib = "*"
pykafka = "*"
fastapi-gateway = "*"
starlette = "*"
kafka-python = "*"
confluent-kafka = "*"

[requires]
python_version = "3.10"
